
<div class="grid">
    <container>
        <div >
            <div class="signin-button-icon">
              <%# all button goes here %>
            </div>

            <div class="intro">
                <p ><strong>Stay in your comfort zone!</strong></p>
                <p >Home is the best place for a loved one living with a disability. With the right care, they are able to continue their daily activities and live the highest possible quality of life in the comfort of their home.</p>
            </div>
        </div>
    </container>
</div>
